* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  background-image: url(/images/crew/background-crew-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
}
.main nav .logo {
  display: flex;
  flex: 1;
  margin-left: 50px;
}
.main nav ul {
  background-image: linear-gradient(to right, rgb(47, 51, 61), rgb(15, 18, 28), rgb(47, 51, 61));
  padding: 30px;
  display: flex;
  flex: 1;
  opacity: 0.7;
}
.main nav ul li {
  list-style: none;
  padding-right: 30px;
}
.main nav ul li a {
  font-weight: 100;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main nav ul li a span {
  font-weight: 700;
}
.main .content .carousel .carousel-indicators {
  display: flex;
  justify-content: flex-start;
}
.main .content .carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.main .content .first_row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main .content .first_row .text {
  margin-left: 100px;
}
.main .content .first_row .text .single_P {
  color: white;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.main .content .first_row .text .single_P span {
  color: rgb(117, 115, 115);
  font-weight: 900;
}
.main .content .first_row .text h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(82, 86, 95);
}
.main .content .first_row .text h1 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main .content .first_row .text .para {
  color: rgb(120, 125, 145);
  margin-right: 100px;
  padding: 10px 10px 10px 0px;
}
.main .content .first_row .image {
  margin-right: 100px;
}
.main .content .first_row .image img {
  width: 500px;
  height: 500px;
  margin-top: 90px;
}