* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: url(/images/home_images/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}
.main nav .logo {
  display: flex;
  flex: 1;
  margin-left: 50px;
}
.main nav ul {
  background-image: linear-gradient(to right, rgb(19, 21, 34), rgb(78, 93, 116), rgb(19, 21, 34));
  padding: 30px;
  display: flex;
  flex: 1;
  opacity: 1;
}
.main nav ul li {
  list-style: none;
  padding-right: 30px;
}
.main nav ul li a {
  padding-bottom: 30px;
  font-weight: 100;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main nav ul li a span {
  font-weight: 700;
}
.main .content {
  margin-top: 200px;
}
.main .content .text {
  margin-left: 250px;
  margin-right: 250px;
}
.main .content .text p {
  color: white;
  font-size: 1.8em;
  font-weight: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main .content .text h1 {
  color: white;
  font-size: 10em;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main .content .text .para {
  font-size: 1.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main .content .explore {
  margin-top: 180px;
}
.main .content .explore a {
  text-decoration: none;
  color: rgb(48, 47, 47);
  background-color: white;
  padding: 160px 100px 160px 100px;
  border-radius: 50%;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}