* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  background-image: url(/images/technology/background-technology-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
}
.main nav .logo {
  display: flex;
  flex: 1;
  margin-left: 50px;
}
.main nav ul {
  padding: 30px;
  display: flex;
  flex: 1;
  background-color: rgb(19, 21, 34);
}
.main nav ul li {
  list-style: none;
  padding-right: 30px;
}
.main nav ul li a {
  font-weight: 100;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main nav ul li a span {
  font-weight: 700;
}
.main .content .first_row .text {
  margin-top: 50px;
  color: rgb(242, 244, 248);
}
.main .content .first_row .text h3 {
  margin-top: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main .content .first_row .text h3 span {
  color: rgb(115, 114, 114);
  font-weight: 500;
}
.main .content .first_row .text .second_row {
  margin-top: 100px;
}
.main .content .first_row .text .second_row .anchor {
  display: flex;
  flex-direction: column;
}
.main .content .first_row .text .second_row .anchor a {
  text-decoration: none;
  color: white;
  height: 80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.main .content .first_row .text .second_row .anchor a span {
  font-size: 2em;
}
.main .content .first_row .text .second_row .para_main {
  margin-top: 10px;
}
.main .content .first_row .text .second_row .para_main .para {
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgb(184, 185, 204);
  letter-spacing: 2px;
}
.main .content .first_row .text .second_row .para_main h1 {
  text-transform: uppercase;
  font-size: 3.7em;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}
.main .content .first_row .text .second_row .para_main p {
  font-size: 1em;
  color: rgb(184, 185, 204);
  margin-right: 120px;
}
.main .content .first_row .image_box img {
  margin-top: 110px;
}