
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.main{
    background-image: url(/images/destination/background-destination-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    nav{
        .logo{
            display: flex;
            flex: 1;
            margin-left: 50px;
        }
        ul{
            background-color: rgb(32, 40, 53);
            padding: 30px;
            display: flex;
            flex: 1;
            li{
                list-style: none;
                padding-right: 30px;
                a{
                    font-weight: 100;
                    text-decoration: none;
                    color: white;
                    font-size: 1.2em;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    span{
                        font-weight: 700;
                    }
            }
        }
    }
}
.content{
    .first_row{
        height: 70vh;
        margin-top: 50px;
        .image{
            // border: 1px solid white;
            h1{
                span{
                    color: rgb(117, 115, 115);
                    font-weight: 900;
                }
                color: white;
                font-weight: 400;
                font-size: 1.3em;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .img{
                margin-top: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .text{
            // border: 1px solid white;
            .list{
                margin-top: 100px;
                ul{
                    display: flex;
                    li{
                        color: white;
                        margin: 10px;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: 200;
                        font-size: 0.9em;
                    }
                }
            }
            h6{
                color: white;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 5em;
                // border: 2px solid white;
                text-transform: uppercase;
                font-weight: 100;
                margin-left: 45px;
            }
            p{
                color: white;
                margin-left: 45px;
                margin-right: 200px;
                font-weight: 300;
            }
            hr{
                margin-left: 45px;
                margin-right: 200px;
                margin-top: 50px;
            }
            .bottam{
                margin-left: 45px;
                margin-right: 200px;
                .distance{
                    // border: 1px solid white;
                    color: white;
                    .avg{
                        font-size: 0.8em;
                        font-weight: 100;
                    }
                    .dis{
                        font-size: 1.4em;
                        font-weight: 300;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                }
                .travel{
                    // border: 1px solid white;
                    color: white;
                    .time{
                        font-size: 0.8em;
                        font-weight: 100;
                    }
                    .months{
                        font-size: 1.4em;
                        font-weight: 300;
                        text-transform: uppercase;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                }
            }
        }
    }
}
}